@use 'variables';
@use 'mixins' as *;

html {
  scroll-behavior: smooth;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  background-color: variables.$primary-color;
  font-family: 'Montserrat', sans-serif;
  color: variables.$second-color;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.header {
  ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px 0;
    li {
      list-style: none;
      a {
        text-decoration: none;
      }
    }
    .second {
      flex-grow: 1;
      margin-right: auto;
      @media (max-width: 768px) {
        display: none;
      }
    }
    .third,
    .fourth,
    .fifth,
    .sixth {
      margin-right: 30px;
      position: relative;
      bottom: 2px;
      @media (max-width: 768px) {
        display: none;
      }
    }
    .fourth {
      position: relative;
      right: 20px;
    }
    .fifth {
      position: relative;
      right: 37px;
    }
    .sixth {
      position: relative;
      right: 55px;
    }
    .seven {
      display: none;
      @media (max-width: 768px) {
        display: block;
        margin-right: 18px;
      }
    }
    .first {
      display: flex;
      align-items: center;
      margin-left: 103px;
      position: relative;
      z-index: 2;
      left: -10px;
      @media (max-width: 768px) {
        margin-left: 30px;
      }
      img {
        position: relative;
        left: 10px;
      }
    }
  }
}

.element {
  padding: 11px 0;
  a {
    @include action_small;
    padding: 12px 20px;
    color: variables.$second-color;
  }
  .link {
    transition: 0.4s ease;
    border-radius: 10px;
    &:hover {
      background-color: rgba(255, 70, 70, 0.1);
      color: variables.$third-color;
      transition: 0.4s ease;
    }
  }
  .active {
    background-color: rgba(255, 70, 70, 0.1);
    color: variables.$third-color;
    cursor: default;
  }
}

.footer {
  background-image: url('../assets/images/footer_section.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: auto;
  min-height: 496px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  position: relative;
  .contact__cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 89%;
    margin: 58px 0;
    @media (max-width: 1148px) {
      width: 98%;
      gap: 10px;
    }
    &-cart {
      background-color: #ecf3f8;
      color: variables.$second-color;
      width: 33%;
      padding: 20px;
      border-radius: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      @media (max-width: 1148px) {
        width: 100%;
      }
    }
    &-cart > p:first-of-type {
      @include action_large;
      margin: 14px 0 10px 0;
      transition: 0.4s ease;
    }
    &-cart > :last-child {
      @include header_h3;
      transition: 0.4s ease;
    }
  }
  .social__contacts {
    width: 100%;
    ul {
      display: flex;
      margin: 8px auto 0 auto;
      display: flex;
      justify-content: center;
      gap: 33px;
      #telegram {
        transition: 0.4s ease;
      }
      #instagram {
        transition: 0.4s ease;
      }
      #twitter {
        transition: 0.4s ease;
      }
      #facebook {
        transition: 0.4s ease;
      }
    }
  }
  .copyrights {
    margin: 20px 0 16px 0;
  }
  .last-caption {
    @include caption;
    a {
      color: variables.$second-color;
      transition: 0.4s ease;
    }
  }

  .scroll__top {
    display: none;
    position: fixed;
    width: 56px;
    height: 56px;
    background-color: variables.$primary-color;
    border: 1px solid variables.$third-color;;
    border-radius: 50%;
    cursor: pointer;
    right: 2px;
    bottom: 10px;
    #scr-top {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      cursor: pointer;
    }
  }
}

.hidden {
  display: none;
}

@media (hover: hover) and (pointer: fine) {
  .contact__cards-cart:hover {
    & > p:first-of-type {
      transition: 0.4s ease;
      color: variables.$third-color;
    }
    & > :last-child {
      transition: 0.4s ease;
      color: variables.$third-color;
    }
  }

  #telegram:hover,
  #instagram:hover,
  #twitter:hover,
  #facebook:hover {
    cursor: pointer;
    stroke: variables.$third-color;
    transition: 0.4s ease;
  }

  .last-caption a:hover {
    color: variables.$third-color;
    transition: 0.4s ease;
  }
}

@media (hover: none) and (pointer: coarse) {
  .contact__cards-cart {
    & > p:first-of-type {
      transition: 0s ease;
      color: variables.$second-color;
    }
    & > :last-child {
      transition: 0s ease;
      color: variables.$second-color;
    }
  }

  #telegram,
  #instagram,
  #facebook,
  #twitter {
    cursor: default;
    stroke: variables.$second-color;
    transition: 0s ease;
  }

  .last-caption a {
    color: variables.$second-color;
    transition: 0s ease;
  }
}
