@use 'variables';
@use 'mixins' as *;

.main {
  display: flex;
  flex-direction: column;
}

.hero {
  background-image: url('../assets/images/hero_section.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: auto;
  min-height: 524px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  @media (max-width: 768px) {
    background-image: url('../assets/images/hero_section_768.png');
  }
  @media (max-width: 380px) {
    min-height: 572px;
    background-image: url('../assets/images/hero_section_380.png');
  }
  .hero__section {
    display: flex;
    width: 500px;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 32.8vw;
    &-header {
      font-family: 'Montserrat', sans-serif;
      line-height: 150%;
      text-transform: uppercase;
      font-size: 32px;
      margin: 10px 0 0 0;
      text-align: center;
      letter-spacing: 6px;
      font-weight: 600;
      color: variables.$primary-color;
    }
    &-caption {
      @include caption;
      color: variables.$primary-color;
    }
    .btn {
      @include btn_base;
    }
  }

  .hero__section-btn {
    margin: 15px 0 15px 0;
    text-decoration: none;
    transition: 0.3s ease;
  }
}

@media (hover: hover) and (pointer: fine) {
  .hero__section-btn:hover {
    background-color: variables.$primary-color !important;
    color: variables.$second-color !important;
    transition: 0.3s ease;
  }
}
@media (hover: none) and (pointer: coarse) {
  .hero__section-btn {
    background-color: variables.$second-color;
    color: variables.$primary-color;
  }
}

.about {
  background-image: url('/src/assets/images/about_section.png');
  padding: 60px 82px;
  background-color: variables.$primary-color;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  @media (max-width: 768px) {
    padding: 59px 8px;
  }
  .about-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: variables.$primary-color;
    border-radius: 20px;
    @media (max-width: 560px) {
      grid-template-columns: none;
      grid-template-rows: 2.715fr 4fr;
    }
    .about__left-content {
      max-width: 469px;
      padding: 100px 0 160px 60px;
      @media (max-width: 768px) {
        padding: 100px 0 107px 60px;
      }
      @media (max-width: 560px) {
        padding: 53px 0 0px 19px;
      }

      h5 {
        @include caption;
        color: variables.$third-color;
        margin-top: 60px;
        margin-bottom: 20px;
        @media (max-width: 768px) {
          margin-top: 6px;
        }
      }
      h4 {
        font-size: 24px;
        text-transform: uppercase;
        line-height: 152%;
        font-weight: 600;
        letter-spacing: 0.16em;
        margin-bottom: 20px;
        @media (max-width: 768px) {
          width: 90%;
        }
        @media (max-width: 380px) {
          width: 95%;
        }
      }
      p {
        line-height: 148%;
        font-weight: 400;
        font-size: 16px;
        @media (max-width: 768px) {
          width: 85%;
        }
        @media (max-width: 380px) {
          width: 95%;
        }
      }
    }
    .about__right-content {
      background-image: url('/snowman_santa.png');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      border-radius: 20px;
      @media (max-width: 560px) {
        height: 522px;
      }
    }
  }
}

.slider {
  background-image: url('../assets/images/slider_section.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: auto;
  min-height: 488px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  .slider__start {
    margin-top: 57px;
    @media (max-width: 768px) {
      margin-top: 60px;
    }
    @media (max-width: 380px) {
      margin-top: 62px;
    }
    h5 {
      @include caption;
      color: variables.$primary-color;
      text-align: center;
      margin-top: 0px;
    }
    h4 {
      color: variables.$primary-color;
      font-size: 24px;
      text-transform: uppercase;
      letter-spacing: 4px;
      font-weight: 400;
      margin: 16px 0 25px 0;
    }
  }
  .slider__middle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 88%;
    gap: 21px;
    transition: transform 0.5s ease;
    @media (max-width: 768px) {
      width: 98%;
      gap: 23px;
    }
    @media (max-width: 380px) {
      width: 95%;
    }
    p {
      font-size: 80px;
      text-transform: uppercase;
      color: variables.$primary-color;
      font-weight: 500;
    }
    img {
      border-radius: 20px;
    }
  }
  .slider__finish {
    margin: 20px 0 0 0;
    display: flex;
    justify-content: flex-end;
    width: 91%;
    @media (max-width: 768px) {
      width: 103%;
    }
    @media (max-width: 380px) {
      width: 106%;
    }
    button {
      margin-right: 20px;
      width: 56px;
      height: 56px;
      border-radius: 20px;
      border: 1px solid variables.$primary-color;
    }
    .arrow-right {
      transition: 0.4s ease;
    }
  }
}

button:enabled {
  background-color: variables.$third-color;
  #arr-right path
  #arr-left path{
    stroke-opacity: 1;
    stroke: variables.$primary-color;
  }
  
}

button:enabled:hover {
  #arr-right path,
  #arr-left path {
    stroke-opacity: 1;
    stroke: variables.$third-color;
  }

}

button:disabled {
  #arr-right path,
  #arr-left path {
    stroke-opacity: 0.4;
  }
  border: 1px solid rgba(255, 255, 255, 0.4)!important;
  background: none!important;
  cursor: default!important;
}

button:disabled:hover {
  background: none!important;
}

.gifts {
  background-image: url('../assets/images/gifts_section.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: auto;
  min-height: 554px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  position: relative;
  @media (max-width: 768px) {
    padding-bottom: 59px;
  }
  .gifts__products {
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    gap: 13px;
    margin-top: 24px;
    justify-content: center;
    @media (max-width: 768px) {
      gap: 14px;
    }
    &-wrapper {
      background-color: #ecf3f8;
      border-radius: 20px;

      .gifts__products-name {
        position: relative;
        background-color: variables.$primary-color;
        padding: 10px 15px 70px 15px;
        border-radius: 20px;
        h4 {
          @include header_h3;
          position: absolute;
          transition: 0.4s ease;
          top: 39px;
          left: 18px;
        }
        p {
          @include header_h4;
          padding-top: 10px;
          position: relative;
          bottom: 5px;
          left: 2px;
        }
      }
    }
  }
  .gifts__title {
    h5 {
      @include caption;
      color: variables.$primary-color;
      text-align: center;
      margin-bottom: 16px;
      margin-top: 57px;
      @media (max-width: 768px) {
        margin-top: 58px;
      }
      @media (max-width: 380px) {
        margin-top: 62px;
      }
    }
    h2 {
      @include header_h2;
      color: variables.$primary-color;
      margin-bottom: -6px;
    }
  }
}

@media (hover: hover) and (pointer: fine) {
  .gifts__products-wrapper:hover {
    cursor: pointer;
  }
}
@media (hover: none) and (pointer: coarse) {
  .button {
    cursor: default;
  }
}

.cta {
  background-image: url('../assets/images/cta_section.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: auto;
  min-height: 668px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  .cta__main {
    width: 30%;
    margin: 179px auto;
    @media (max-width: 1348px) {
      width: 50%;
    }
    @media (max-width: 768px) {
      width: 56%;
      margin: 185px auto;
    }
    @media (max-width: 622px) {
      width: 80%;
    }
    @media (max-width: 480px) {
      width: 98%;
    }
    &-h2 {
      @include header_h2;
      color: variables.$primary-color;
      text-align: center;
    }
    &-button {
      @include  btn_base;
      font-family: 'Montserrat', sans-serif;
      display: block;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      margin: 20px auto;
      padding-right: 25px;
      padding-left: 25px;
      width: 235px;
      height: 56px;
      text-align: center;
      transition: 0.3s ease;
    }
    &-caption {
      @include caption;
      color: variables.$primary-color;
      margin: 0 auto;
      text-align: center;
    }
    &-watch {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: rgba(255, 255, 255, 0.4);
      width: 344px;
      margin: 7px auto 0 auto;
      border-radius: 20px;
      .timer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 75px;
        height: 68px;
      }
      .timer > :first-child {
        @include header_h2;
        color: variables.$primary-color;
      }
      .timer > :last-child {
        @include header_h4;
        color: variables.$primary-color;
      }
    }
  }
}

@media (hover: hover) and (pointer: fine) {
  .gifts__products-wrapper:hover h4 {
    transition: 0.4s ease;
    color: variables.$third-color;
  }
  .arrow-right:hover,
  .arrow-left:hover {
    transition: 0.4s ease;
    background: variables.$primary-color!important;
    cursor: pointer;
  }
  .cta__main-button:hover {
    background-color: variables.$primary-color;
    color: variables.$second-color;
    transition: 0.3s ease;
  }
}

@media (hover: none) and (pointer: coarse) {
  .gifts__products-wrapper h4 {
    color: variables.$second-color;
  }
  .arrow-right,
  .arrow-left {
    background-color: variables.$third-color!important;
    cursor: pointer;
    #arr-right path,
    #arr-left path {
      stroke: variables.$primary-color!important;
    }
  }
  .cta__main-button {
    background-color: variables.$second-color;
    color: variables.$primary-color;
    transition: 0s ease;
  }
}
