@use 'variables';
@use 'mixins' as *;

.main {
  display: flex;
  flex-direction: column;
}

.hero {
  background-image: url('../assets/images/hero_section.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: auto;
  min-height: 524px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  .hero__section {
    display: flex;
    width: 500px;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 33.1vw;
    &-header {
      font-family: 'Montserrat', sans-serif;
      line-height: 150%;
      text-transform: uppercase;
      font-size: 32px;
      margin: 10px 0 0 0;
      text-align: center;
      letter-spacing: 6px;
      font-weight: 600;
      color: variables.$primary-color;
    }
    &-caption {
      @include caption;
      color: variables.$primary-color;
    }
    .btn {
      @include btn_base;
    }
  }

  .hero__section-btn {
    margin: 15px 0 15px 0;
    text-decoration: none;
    transition: 0.3s ease;
    &:hover {
      background-color: variables.$primary-color;
      color: variables.$second-color;
      transition: 0.3s ease;
    }
  }
}

.about {
  background-image: url('/src/assets/images/about_section.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: auto;
  min-height: 639px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .about-wrapper {
    display: flex;
    align-items: center;
    max-width: 88.5%;
    height: 528px;
    margin: 0px auto 0 auto;
    background-color: variables.$primary-color;
    overflow: hidden;
    border-radius: 20px;
    .about__left-content {
      width: 50%;
      padding: 60px 60px 80px 60px;
      display: flex;
      flex-direction: column;
      gap: 25px;
      margin-top: 21px;
      h5 {
        @include caption;
        color: variables.$third-color;
        position: relative;
        top: 5px;
      }
      h4 {
        font-size: 24px;
        text-transform: uppercase;
        line-height: 152%;
        letter-spacing: 4px;
      }
      p {
        position: relative;
        bottom: 4px;
        line-height: 148%;
        width: 80%;
      }
    }
    .about__right-content {
      width: 50%;
      position: relative;
      img {
        max-width: 100%;
        max-height: 100%;
        width: auto;
        height: auto;
        display: block;
      }
    }
  }
}

.slider {
  background-image: url('../assets/images/slider_section.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: auto;
  min-height: 488px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  .slider__start {
    margin-top: 57px;
    h5 {
      @include caption;
      color: variables.$primary-color;
      text-align: center;
      margin-top: 6px;
    }
    h4 {
      color: variables.$primary-color;
      font-size: 24px;
      text-transform: uppercase;
      letter-spacing: 4px;
      font-weight: 400;
      margin: 16px 0 25px 0;
    }
  }
  .slider__middle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 88%;
    gap: 21px;
    p {
      font-size: 80px;
      text-transform: uppercase;
      color: variables.$primary-color;
      font-weight: 500;
    }
    img {
      border-radius: 20px;
    }
  }
  .slider__finish {
    margin: 20px 0 0 0;
    display: flex;
    justify-content: flex-end;
    width: 91%;
    button {
      margin-right: 20px;
      background: none;
      width: 56px;
      height: 56px;
      border-radius: 20px;
      border: 1px solid variables.$primary-color;
    }
    .arrow-left {
      border: 1px solid rgba(255, 255, 255, 0.4);
    }
    .arrow-right {
      transition: 0.4s ease;
      &:hover {
        transition: 0.4s ease;
        background-color: #ecf3f8;
        cursor: pointer;
        #arr-right path {
          stroke: variables.$third-color;
        }
      }
    }
  }
}

.gifts {
  background-image: url('../assets/images/gifts_section.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: auto;
  min-height: 554px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  .gifts__products {
    width: 89%;
    display: flex;
    flex-wrap: wrap;
    gap: 13px;
    justify-content: space-between;
    &-wrapper {
      background-color: #ecf3f8;
      border-radius: 20px;
      &:hover {
        cursor: pointer;
        h4 {
          transition: 0.4s ease;
          color: variables.$third-color;
        }
      }
      .gifts__products-name {
        position: relative;
        background-color: variables.$primary-color;
        padding: 10px 15px 70px 15px;
        border-radius: 20px;
        h4 {
          @include header_h3;
          position: absolute;
          transition: 0.4s ease;
          top: 39px;
          left: 18px;
        }
        p {
          @include header_h4;
          padding-top: 10px;
          position: relative;
          bottom: 5px;
          left: 2px;
        }
      }
    }
  }
  .gifts__title {
    h5 {
      @include caption;
      color: variables.$primary-color;
      text-align: center;
      margin-bottom: 16px;
      margin-top: 63px;
    }
    h2 {
      @include header_h2;
      color: variables.$primary-color;
      margin-bottom: 18px;
    }
  }
}

.cta {
  background-image: url('../assets/images/cta_section.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: auto;
  min-height: 668px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  .cta__main {
    width: 30%;
    margin: 185px auto;
    &-h2 {
      @include header_h2;
      color: variables.$primary-color;
      text-align: center;
    }
    &-button {
      @include btn_base;
      font-family: "Montserrat", sans-serif;
      display: block;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      margin: 20px auto;
      width: 55%;
      text-align: center;
      transition: 0.3s ease;
      &:hover {
        background-color: variables.$primary-color;
        color: variables.$second-color;
        transition: 0.3s ease;
      }
    }
    &-caption {
      @include caption;
      color: variables.$primary-color;
      margin: 0 auto;
      text-align: center;
    }
    &-watch {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: rgba(255, 255, 255, 0.4);
      width: 80%;
      margin: 7px auto 0 auto;
      border-radius: 20px;
      .timer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 80px;
        height: 70px;
      }
      .timer > :first-child {
        @include header_h2;
        color: variables.$primary-color;
      }
      .timer > :last-child {
        @include header_h4;
        color: variables.$primary-color;
      }
    }
  }
}
